#############################################################################
# This file should contain deployment specific params, everything else will #
# be configured in the applicationContext.xml, web.xml, portlet.xml, and    #
# individual portlet-name.xml files. For testing purposes, please see the   #
# ecs.test.properties file which will contain params similar to this file,  #
# plus additional params needed for testing.                                #
#############################################################################

#Set the viewResolver bean, cache property in applicationContext.xml
viewResCache=@mvcViewResolverCache@

#Portlet settings, customize to institutional needs
ecsurl=https://mail.uvic.ca/ews/Exchange.asmx
ecs.domain=uvic
ecs.mailbox.domain=uvic.ca

#These properties are specific to your portal deployment.
#ecs.portletRequest.userInfo.loginId=urn:sungardhe:dir:loginId
ecs.portletRequest.userInfo.loginId=user.login.id
#Set this to something you know will be available if user.login.id is not.
ecs.portletRequest.userInfo.loginIdBackup=uid


ecs.portletRequest.userInfo.password=password
#ecs.portletRequest.userInfo.givenName=urn:mace:dir:givenName
#ecs.portletRequest.userInfo.familyName=urn:mace:dir:sn
ecs.portletRequest.userInfo.givenName=user.name.given
ecs.portletRequest.userInfo.familyName=user.name.family
#Set this based on your institutions lookup for mowa entitlement (probably ldap
#attribute.
ecs.mowaEntitlementAttributeName=eduPersonEntitlement
ecs.mowaEntitlementAttributeValue=urn:mace:uvic.ca:university:usource:mowa_user

#Get these values from the filter-*.properties file
#ecs.expirationCache=@ecs.expiration-cache@
ecs.InboxMessageControllerCache=@ecs.InboxMessageController.cache@
ecs.CalendarItemControllerCache=@ecs.CalendarItemController.cache@
